.title {
  color: lightgray;
}
$background-general: #ffffff;

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: $background-general;
  min-height: 100vh;
}

nz-footer {
  text-align: center;
}


.text-center {
  text-align: center !important;
}
